<?xml version="1.0" encoding="utf-8"?>
<Package
	xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"	xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
	xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
	IgnorableNamespaces="uap mp">

	<Identity Name="CDE44E6B-619A-4157-A77F-BA830FF26ACB" Publisher="CN=CMake" Version="1.0.0.0" />
	<mp:PhoneIdentity PhoneProductId="CDE44E6B-619A-4157-A77F-BA830FF26ACB" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
	<Properties>
		<DisplayName>opencv_test_imgcodecs</DisplayName>
		<PublisherDisplayName>CMake</PublisherDisplayName>
		<Logo>opencv_test_imgcodecs.dir\StoreLogo.png</Logo>
	</Properties>
	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10065.0" MaxVersionTested="10.0.65535.65535" />
	</Dependencies>
	<Resources>
		<Resource Language="x-generate" />
	</Resources>
	<Applications>
		<Application Id="App" Executable="opencv_test_imgcodecs.exe" EntryPoint="opencv_test_imgcodecs.App">
			<uap:VisualElements
				DisplayName="opencv_test_imgcodecs"
				Description="opencv_test_imgcodecs"
				BackgroundColor="#336699"
				Square150x150Logo="opencv_test_imgcodecs.dir\Logo.png"
				Square44x44Logo="opencv_test_imgcodecs.dir\SmallLogo.png">
				<uap:SplashScreen Image="opencv_test_imgcodecs.dir\SplashScreen.png" />
			</uap:VisualElements>
		</Application>
	</Applications>
</Package>
